a,
a:hover {
  color: #155dc8;
  text-decoration: none;
}

body {
  color: #333;
  max-width: 1000px;
  margin: auto;
}

blockquote {
  margin-left: 1rem;
  border-left: 2px solid;
  padding-left: 20px;
}